body {
    background-color: #fc0;
}

.main-content {
    width: 90vw;
    height: 90vh;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main {
    width: 500px;
    height: 600px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}



.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    width: 200px;
    height: 24px;
    font-family: Helvetica, Arial, serif;
    font-size: 16px;
    border: solid 1px black;
    text-align: center;
    padding: 10px 50px;
    margin-bottom: 20px;
    color: #000;
    border-radius: 10px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn:active {
    background-color: grey;
}

a {
    text-decoration: none;
}

.email {
    position: absolute;
    bottom: 15px
}


.logo {
    outline: 2px solid red;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 20px;
    background-image: url(../test/photo.jpg)
}

.channel-link {
    background-color: red;
    width: 200px;
    height: 24px;
    font-family: Helvetica, Arial, serif;
    font-style: 700;
    font-size: 16px;
    border: solid 1px black;
    text-align: center;
    padding: 10px 50px;
    margin-bottom: 20px;
    color: #000;
    border-radius: 10px;
}

.channel-link:hover {
    background-color: #fc0;
}

.channel-link:active {
    background-color: rgb(145, 116, 4);
}